* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }


.pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}

body{
    display: flex;
    justify-content:center;
    flex-direction: column;
    background-color: #E5E5E5;
}


h1 {
    font-size: 14px;
}
.topo{
    height: 54px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 935px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 34px;
}

.topo-mobile{
    display:none;
}

.cabeçalho{
    display: flex;
    height: 54px;
    width: 100%;
    justify-content: center ;
    border-bottom: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo-icon{
    font-size: 20px;
}

.topo-left{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hide-icon{
    margin-left: 25px;
}

.topo-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.conteudo{
    /*background-color: aqua;*/
    /*height: 1123px;  PROVISORIO */
    display: flex;
    justify-content: center;
   /* width: 1123px;*/
    margin-top: 54px;
    overflow: hidden;
}

.central{
    background-color: #E5E5E5;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.menu-stories{
    background-color:#FFFFFF;
    border: 1px solid #dbdbdb;
    height: 118px;
    width: 614px;
    margin-top: 34px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: 18px;
    position: relative;
   
}

.seta{
    position: absolute;
    right: 5px; 
}

.stories-back{
    height: 66px;
    width: 66px;
    background: url("/images/stories_background.jpg");
    background-size: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    border-radius: 33px;
}

.story{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-left: 18px;
    margin-right: 18px;
}
.story h1{
    font-size: 12px;
    font-weight: normal;
    
}


.posts {
    background-color: #FFFFFF;
   /* height: 749px; */
    width: 614px;
    border: 1px solid #dbdbdb;
    margin-bottom: 60px;
}

.top-post{
    display: flex;
    align-items: center;
}

.img-post{
    display: flex;
    justify-content: center;

}

.img-post img{
    width: 100%;
    object-fit: cover;
}

.img-post video{
    width: 100%;
}

.icones{
    display: flex;
    margin-top: 14px;
}

.icones-posts{
    width: 584px;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 17px;
}

.titulos-posts{
    width: 584px;
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 61px;
    margin-left: 17px;
}

.titulos-posts h1{
    margin-left: 15px;
}

.tres-pontos{
    margin-right: 18px;
}
.curtidas{
    display: flex;
    align-items: center;
    margin-left: 17px;
}
.menu-lateral{
   /* background-color: red;*/
    width: 293px;
    margin-top: 34px;
    margin-left: 28px;
   /* position: fixed;
    right: 0;
    top: 28;
    margin-right: 300px; */
}

.perfil {
    display: flex;
    align-items: center;
    margin-top: 30px;

}

.perfil-pessoal{
    margin-left: 10px;
}

.perfil-pessoal h2{
    font-size: 14px;
    font-weight: medium;
    margin-bottom: 0px;
    color: #262626;

}

.perfil-pessoal h3{
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
    color: #8E8E8E;
    font-weight: normal;
}
.borda-vertical{
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    margin-left: 10px;
    margin-right: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.barra-pesquisa{
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    color: #979797;
}

.sugestoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sugestoes h1{
    color: #8E8E8E;
    font-size: 12px;
}

.sugestoes h3{
    color: #262626;
    ;
    font-size: 12px;
}

.perfis-sugeridos{
    margin-bottom: 40px;
}

.perfis-sugeridos h2{
    font-size: 14px;
    font-weight: medium;
    margin-bottom: 0px;
    color: #262626;

}

.perfis-sugeridos h3{
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
    color: #8E8E8E;
    font-weight: normal;
}

.perfis{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    margin-bottom: 17px;
}

.textos-sugeridos{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin-left: 10px;
}

.sobre{
color: #C7C7C7;
font-size: 11px;
}

.bookmark{
    font-size: 20px;
    margin-right: 18px;
}

.curtidas h1{
    margin-left: 5px;
    font-style:normal;
    font-size: 14px;
    font-weight: 500;
}

.seguir{
    color:#139EF2;
    font-weight: medium;
    font-size: 12px;
}

.barra-inferior{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    display:none;
}

@media (max-width: 935px) {
    .menu-lateral{
        display: none;
    }

    .topo{
        width: 100%;
    }


}

@media (max-width: 614px) {

  
    .topo-mobile{
        display: inline;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .topo-left{
        width: 100%;
        position: fixed;
        align-items: center;
        margin-top: 17px;
    }
    .topo{
        display: none;
    }

    .posts, .img-post, .top-post, .bot-post, .central, .conteudo{
        width: 100%;
    }

    body{
        width: 100%;
        margin:0px;
    }
    .img-post img{
        width: 100%;
    }

    .posts{
        border-left: 0px;
        border-right: 0px;
    }
    .titulos-posts{
        width: 95%;
    }
    

    .logo-mobile{
        margin-right: 13px;
        margin-left: 20px;
    }
    .logo-icon{
        margin-left: 20px;
    }

    .menu-stories{
        border: none;
        background-color: #E5E5E5;
    }

    .seta{
        display: none;
    }

    .barra-inferior{
        display: initial;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: fixed;
    }
}